<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240609145583-1bj8k6usg7t1qev73p087t9236f8dbc1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240609145583-1bj8k6usg7t1qev73p087t9236f8dbc1</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ2qvn2Cybj7d1nrZu8rUd3z7GkGkgpRE</string>
	<key>GCM_SENDER_ID</key>
	<string>240609145583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsapp</string>
	<key>PROJECT_ID</key>
	<string>news-app-f78f5</string>
	<key>STORAGE_BUCKET</key>
	<string>news-app-f78f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240609145583:ios:da107bb0448068252aa11a</string>
</dict>
</plist>